<h1>Title: <%= @articel.title %></h1>
<p>Content: <%= @articel.content %></p>

<%= link_to 'Edit', edit_articel_path(@articel) %>
<%= link_to 'Delete', articel_path(@articel), method: :delete %>
<%= link_to 'Back', articels_path %>
